
.purchase-card{
  width: 350px;
  border-radius: 5%;
  box-shadow: 0 4px 8px black, 0 6px 20px black;
  padding: 1em;
  margin-top: 100px;
  margin-left: 400px;
  font-family: 'Montserrat', sans-serif;
}
 .show-grid{
padding-bottom: 1.5em;
}

.item-button:focus{
  outline: none;
}

.box-details{
  margin-top: 30px;
  color: rgb(34, 21, 49);
  background-color: rgb(221, 211, 211);
  border-radius: 5%;
}
.img-details{
  margin-left: 30px;
  margin-top: 20px;
}
.item-details{
  margin-bottom: 30px;
}
.btn-round{
  margin-left: 80px;
}
.form-promo{
  margin-left: 50px;
}

.txt-promo{
  margin-left: 50px;
  margin-top: 20px;
}

.txt-details{
  padding-top: 30px;
}